.directory
.DS_Store
.~lock.*

*.csv
*.log
*.py[cod]
*.sqlite3
*.sqlite3-journal
*.session.sql
*.sql
*.xls
*.xlsx

.bashrc
.env
.git
.gitignore
.python-version
.ruff_cache

__pycache__/
*.egg-info/

.venv/
venv/

tests/

Dockerfile
docker-compose.yml
README.md
LICENSE
