# Flask, para SECRET_KEY use openssl rand -hex 24
FLASK_APP=pjecz_delphinus_flask.app
FLASK_DEBUG=1
SECRET_KEY=

# Base de datos en Triceratops (podman pod start triceratops)
DB_USER=adminpjeczdelphinus
DB_PASS=
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=pjecz_delphinus
SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://adminpjeczdelphinus:XXXXXXXX@127.0.0.1:5432/pjecz_delphinus"

# Claves INEGI del estado y del municipio, 05 es Coahuila de Zaragoza, 030 es Saltillo
ESTADO_CLAVE=05
MUNICIPIO_CLAVE=030

# Salt sirve para cifrar el ID con HashID, debe ser igual en la API
SALT=

# Zona Horaria en America, Ciudad de Mexico
TZ=America/Mexico_City

# Host
HOST=http://127.0.0.1:5000

# CLI: Si esta en PRODUCTION se evita reiniciar la base de datos
DEPLOYMENT_ENVIRONMENT=DEVELOPMENT
