{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Atención-Contraparte {{ udp_atencion_contraparte.id }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Atención-Contraparte ' + udp_atencion_contraparte.id | string) %}
        {{ topbar.button_previous('Atenciones-Contrapartes', url_for('udp_atenciones_contrapartes.list_active')) }}
        {% if current_user.can_admin('UDP ATENCIONES CONTRAPARTES') %}
            {% if udp_atencion_contraparte.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('udp_atenciones_contrapartes.delete', udp_atencion_contraparte_id=udp_atencion_contraparte.id)) }}{% endif %}
            {% if udp_atencion_contraparte.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('udp_atenciones_contrapartes.recover', udp_atencion_contraparte_id=udp_atencion_contraparte.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=udp_atencion_contraparte.estatus) %}
        {{ detail.label_value_big('ID', udp_atencion_contraparte.id) }}
        {{ detail.label_value('A. Fecha Hora', udp_atencion_contraparte.udp_atencion.creado) }}
        {{ detail.label_value('A. Autoridad', udp_atencion_contraparte.udp_atencion.autoridad.clave) }}
        {{ detail.label_value('A. Expediente', udp_atencion_contraparte.udp_atencion.expediente) }}
        {{ detail.label_value('A. Tipo de Trámite', udp_atencion_contraparte.udp_atencion.udp_tipo_tramite.nombre) }}
        {{ detail.label_value('C. Nombre completo', udp_atencion_contraparte.udp_contraparte.nombre_completo) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('UDP ATENCIONES CONTRAPARTES') %}
        {% if udp_atencion_contraparte.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + udp_atencion_contraparte.id | string + '?') }}{% endif %}
        {% if udp_atencion_contraparte.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + udp_atencion_contraparte.id | string + '?') }}{% endif %}
    {% endif %}
{% endblock %}
