{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Atención {{ udp_persona_atencion.id }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Atención ' + udp_persona_atencion.id | string) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'udp_persona_atencion_id': udp_persona_atencion.id} %}
        {% call f.form_tag('udp_personas_atenciones.edit', fid='atencion_form', **form_kwargs) %}
            {% call f.form_group(form.udp_tipo_tramite) %}{% endcall %}
            {% call f.form_group(form.autoridad) %}{% endcall %}
            {% call f.form_group(form.expediente) %}{% endcall %}
            {% call f.form_group(form.observaciones) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
        const udpTipoTramiteSelect = document.getElementById('udp_tipo_tramite');
        const autoridadSelect = document.getElementById('autoridad');
        // Cargar las opciones del select udp_tipo_tramite
        fetch("{{ url_for('udp_tipos_tramites.select_json') }}")
            .then(response => response.json())
            .then(data => {
                data.results.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.id;
                    option.text = item.text;
                    udpTipoTramiteSelect.appendChild(option);
                });
                udpTipoTramiteSelect.value = {{ udp_persona_atencion.udp_tipo_tramite_id }};
            });
        // Cargar las opciones del select autoridad
        fetch("{{ url_for('autoridades.select_json') }}")
            .then(response => response.json())
            .then(data => {
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.id;
                    option.text = item.descripcion_corta;
                    autoridadSelect.appendChild(option);
                });
                autoridadSelect.value = {{ udp_persona_atencion.autoridad_id }};
            });
    </script>
{% endblock %}
