{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('UDP PERSONAS') %}
            {{ topbar.button('Personas', url_for('udp_personas.list_active'), 'mdi mdi-account') }}
        {% endif %}
        {% if current_user.can_view('UDP PERSONAS CONTRAPARTES') %}
            {{ topbar.button('Contrapartes', url_for('udp_personas_contrapartes.list_active'), 'mdi mdi-account-multiple') }}
        {% endif %}
        {% if current_user.can_view('UDP PERSONAS DOMICILIOS') %}
            {{ topbar.button('Domicilios', url_for('udp_personas_domicilios.list_active'), 'mdi mdi-home') }}
        {% endif %}
        {% if current_user.can_view('UDP PERSONAS INGRESOS') %}
            {{ topbar.button('Ingresos', url_for('udp_personas_ingresos.list_active'), 'mdi mdi-cash') }}
        {% endif %}
        {% if current_user.can_view('UDP PERSONAS VISITAS') %}
            {{ topbar.button('Visitas', url_for('udp_personas_visitas.list_active'), 'mdi mdi-car') }}
        {% endif %}
        {% if current_user.can_admin('UDP PERSONAS ATENCIONES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('udp_personas_atenciones.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('udp_personas_atenciones.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="udp_personas_atenciones_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo Trámite</th>
                    <th>Usuario</th>
                    <th>Autoridad</th>
                    <th>Expediente</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDT = constructorDataTable.config();
        configDT['ajax']['url'] = "{{ url_for('udp_personas_atenciones.datatable_json') }}";
        configDT['ajax']['data'] = {{ filtros }};
        configDT['columns'] = [
            { data: 'detalle' },
            { data: 'udp_tipo_tramite_nombre' },
            { data: 'usuario_email' },
            { data: 'autoridad_clave' },
            { data: 'expediente' }
        ];
        configDT['columnDefs'] = [
            {
                targets: 0,
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            }
        ];
        const filtrosDT = new FiltrosDataTable('#udp_personas_atenciones_datatable', configDT);
        filtrosDT.precargar();
    </script>
{% endblock %}
