{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Tipo Trámite {{ udp_tipo_tramite.nombre }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Tipo Trámite ' + udp_tipo_tramite.nombre) %}
        {{ topbar.button_previous('Tipos Trámites', url_for('udp_tipos_tramites.list_active')) }}
        {% if current_user.can_edit('UDP TIPOS TRAMITES') %}
            {{ topbar.button_edit('Editar', url_for('udp_tipos_tramites.edit', udp_tipo_tramite_id=udp_tipo_tramite.id)) }}
        {% endif %}
        {% if current_user.can_admin('UDP TIPOS TRAMITES') %}
            {% if udp_tipo_tramite.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('udp_tipos_tramites.delete', udp_tipo_tramite_id=udp_tipo_tramite.id)) }}{% endif %}
            {% if udp_tipo_tramite.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('udp_tipos_tramites.recover', udp_tipo_tramite_id=udp_tipo_tramite.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=udp_tipo_tramite.estatus) %}
        {{ detail.label_value('Nombre', udp_tipo_tramite.nombre) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('UDP TIPOS TRAMITES') %}
        {% if udp_tipo_tramite.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + udp_tipo_tramite.nombre + '?') }}{% endif %}
        {% if udp_tipo_tramite.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + udp_tipo_tramite.nombre + '?') }}{% endif %}
    {% endif %}
{% endblock %}
