{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar UDP Sexo {{ udp_sexo.nombre }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar UDP Sexo ' + udp_sexo.nombre) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'udp_sexo_id': udp_sexo.id} %}
        {% call f.form_tag('udp_sexos.edit', fid='udp_sexo_form', **form_kwargs) %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
