{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo UDP Sexo{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo UDP Sexo') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('udp_sexos.new', fid='udp_sexo_form') %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
