{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Municipio {{ municipio.nombre }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Municipio ' + municipio.nombre) %}
        {{ topbar.button_previous('Municipios', url_for('municipios.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=municipio.estatus) %}
        {{ detail.label_value('Estado', municipio.estado.nombre) }}
        {{ detail.label_value('Clave', municipio.clave) }}
        {{ detail.label_value('Nombre', municipio.nombre) }}
    {% endcall %}
{% endblock %}
